:root {
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #4d5ae5;
  --color-main-text: #434455;
  --color-secondary-text: #2e2f42;
  --accent: #404bbf;
  --color-bg-team: #f5f4fd;
  --color-footer-logo: #f4f4fd;
  --color-footer-text: #e7e9fc;
  --border-customers-color: #8e8f99;
  --customers-logo-color: #afb1b8;
  --transition-duration-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --indent: 24px;
  --items: 4;
}

/* General formatting */

body {
  background-color: var(--primary-bg-color);
  color: var(--color-main-text);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  max-width: 428px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 582px;
  }
  .container-advantage {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
  .container-advantage {
    max-width: 1158px;
  }
}

/* Logo */
.logo {
  margin-right: 76px;

  color: var(--color-main-text);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--secondary-bg-color);
}

/* Header */

.header {
  border-bottom: 1px solid #ececec;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container-header {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-header {
    max-width: 1158px;
  }
}

/* Nav */

.site-nav {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

.nav-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--color-secondary-text);
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration-and-func);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-link.current {
  color: var(--accent);
  position: relative;
}

.nav-link.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent);
}

@media screen and (min-width: 768px) {
  address {
    margin-left: 118px;
  }
}

@media screen and (min-width: 1200px) {
  address {
    margin-left: auto;
  }
}

.address-list {
  display: flex;
  gap: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .address-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    flex-wrap: wrap;
    gap: 4px;
  }
  .address-list > .item:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    gap: 40px;
  }
  .address-list > .item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.address-link {
  font-style: normal;
  color: var(--color-main-text);
  transition: color var(--transition-duration-and-func);
}

@media screen and (min-width: 768px) {
  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-link:hover,
.address-link:focus {
  color: var(--accent);
}

/* Mob menu button */

.menu-button {
  padding-top: 24px;
  padding-bottom: 24px;
  min-height: 22px;
  min-width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;

  background-color: transparent;
  border: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-burger-icon {
  stroke: var(--color-secondary-text);
}

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  overflow-y: auto;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: var(--transition-duration-and-func);
  transform: translatey(100%);
}

.mob-menu.is-open {
  transform: translatey(0);
}

.mob-container {
  height: 100%;
  width: 100%;
  max-width: 767px;

  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  margin: 0 auto;
  position: relative;
}

.mob-item-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.color-active {
  color: var(--accent);
}

.mob-link:hover,
.mob-link:focus {
  color: var(--accent);
}

.mob-menu-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 48px;
}

.mob-address {
  margin-right: auto;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mob-email-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}

.mob-tel-link {
font-weight: 700;
font-style: normal;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--secondary-bg-color);
}

.mob-soc-list {
  display: flex;
}

@media screen and (max-width: 368px) {
  .mob-soc-list {
    gap: 40px;
  }
}

@media screen and (min-width: 369px) {
  .mob-soc-list {
    gap: 56px;
  }
}


.mob-soc-item {
  background-color: var(--secondary-bg-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mob-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--secondary-bg-color);
  fill: var(--color-footer-logo);
  transition: background-color var(--transition-duration-and-func);
}

.mob-soc-icon {
  fill: var(--color-footer-logo);
}

.mob-soc-link:hover,
.mob-soc-link:focus,
.mob-soc-link:active {
  background-color: var(--accent);
}

/* Section hero */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob@1x.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tab@1x.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-tab@2x.jpg);
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desc@2x.jpg);
    }
  }
}

.hero-header {
  margin-top: 0;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
  .hero-header {
    text-transform: none;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-header {
    margin-bottom: 48px;
  }
}

.btn {
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-duration-and-func);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent);
}

/* Our advantages section style */

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.icons {
  display: none;
}

.advantages-list-item:not(:last-child) {
  margin-bottom: 72px;
}

.subtitle-advantages {
  margin-bottom: 8px;
  margin-top: 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.text-advantages {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .subtitle-advantages {
    text-align: start;
  }
  .advantages-list-item {
    margin-left: 0;
  }
  .advantages-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-list-item {
    --items: 2;
    width: calc((100% - (var(--indent)) * (var(--items) - 1)) / var(--items));
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 120px;
    padding-bottom: 0;
  }
  .icons {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 4px;
    background-color: var(--color-footer-logo);
  }
  .advantages-list {
    column-gap: 0;
    row-gap: 0;
  }
  .advantages-list-item:not(:first-child) {
    margin-left: 24px;
  }
  .advantages-list-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .subtitle-advantages {
    margin-top: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Section what are we doing */

.occupation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .occupation {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .gallery-title {
    margin-top: 0;
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--color-secondary-text);
    text-align: center;
    text-transform: capitalize;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .occupation-list {
    display: flex;
  }

  .occupation-list .item + .item {
    margin-left: 24px;
  }
}

/* Section our team  */
.team {
  background-color: var(--color-bg-team);
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-link {
  padding-bottom: 32px;
  max-width: 264px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .team-link {
    margin-right: auto;
    margin-left: auto;
  }
  .team-link:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .team-link {
    flex-basis: calc(
      (100% - var(--indent) * (var(--items) - 1)) / var(--items)
    );
  }
}

.title-section {
  margin-top: 0;
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-secondary-text);
}

.subtitle-team {
  margin-top: 32px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-secondary-text);
}

.text-team {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* social links list */

.social-links {
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

.social-links .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background-color: var(--secondary-bg-color);
  transition: background-color var(--transition-duration-and-func);
}

.social-links > li {
  margin-right: 24px;
}

.social-links > li:last-child {
  margin-right: 0;
}

.social-links .link:hover,
.social-links .link:focus {
  background-color: var(--accent);
}

/* customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  fill: var(--customers-logo-color);
  width: 190px;
  height: 88px;
  border: 1px solid var(--border-customers-color);
  border-radius: 4px;
  transition: fill var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func);
}

@media screen and (min-width: 768px) {
  .customers-list {
    column-gap: 24px;
  }
  .customers-link {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.customer-logo {
  fill: #afb1b8;
}

.customers-list .customers-link:hover,
.customers-list .customers-link:focus {
  fill: var(--accent);
  border-color: var(--accent);
}

/* Footer */

.footer {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--color-secondary-text);
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    column-gap: 24px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    row-gap: 0;
    column-gap: 0;
    padding-left: 0;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  color: var(--color-footer-logo);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-text {
  width: 264px;
  margin-bottom: 0;
  margin-top: 0;
  color: var(--color-footer-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .footer-logo {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo-container {
    margin-right: 120px;
  }
}

.social-icons {
  display: flex;
  justify-content: center;
}
.social-title {
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .social-title,
  .subscribe-title {
    text-align: center;
  }
}

.social-link {
  display: inline-flex;
  padding: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-duration-and-func);
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}
.social-item:not(:last-child) {
  margin-right: 16px;
}
.social-icon {
  fill: var(--color-footer-logo);
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bg-color);
}

.footer-subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 767px) {
  .footer-subscribe-form label {
    width: 100%;
  }
}

.footer-subscribe-form-input {
  width: 100%;
  height: 40px;
  margin-bottom: 16px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: var(--color-secondary-text);
  color: var(--primary-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
@media screen and (min-width: 768px) {
  .footer-subscribe-form-input {
    width: 264px;
    margin-right: 24px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe {
    margin-left: 80px;
  }
}
@media screen and (max-width: 767px) {
  .footer-subscribe {
    width: 100%;
  }
}

.footer-subscribe-form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-form-input:focus {
  outline: none;
  border-color: var(--secondary-bg-color);
}

.footer-subscribe-form-button {
  border: none;
  border-radius: 4px;

  width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 24px;
  gap: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
  transition: background-color var(--transition-duration-and-func);
}

.footer-subscribe-form-button:hover,
.footer-subscribe-form-button:focus {
  background-color: var(--accent);
}

.footer-submit-btn-icon {
  fill: var(--primary-bg-color);
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--transition-duration-and-func),
    visibility var(--transition-duration-and-func);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 407px) {
  .modal {
    width: 100%;
    height: 100%;
  }
}


.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  transition: background-color var(--transition-duration-and-func);
  background-color: var(--color-footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  border-color: var(--accent);
  background-color: var(--accent);
}

.modal-close-btn-icon {
  transition: fill var(--transition-duration-and-func);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: var(--primary-bg-color);
}

/* modal form */

.modal-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-form-field:nth-child(4) {
  margin-bottom: 16px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: var(--border-customers-color);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  font-size: 12px;

  transition: border-color var(--transition-duration-and-func);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-bg-color);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--secondary-bg-color);
}

.modal-form-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration-and-func);
}

.modal-form-message {
  height: 120px;
  width: 100%;
  display: block;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-duration-and-func);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-bg-color);
}

.modal-form-message::placeholder {
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--color-secondary-text);
  border-radius: 2px;
  color: var(--color-secondary-text);
  cursor: pointer;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent);
  background-image: url(../images/check-mark.svg);
  border: none;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--accent);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}

.privacy-policy {
  line-height: 1.33;
  text-decoration-line: underline;
  color: var(--secondary-bg-color);
}

.modal-form-submit {
  align-self: center;
  border: none;
  border-radius: 4px;
  width: 169px;
  height: 56px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  transition: background-color var(--transition-duration-and-func);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--accent);
}

/* Portfolio.html */

/* Main content of the site */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 72px;
}

.button {
  padding: 12px 24px;
  color: var(--secondary-bg-color);
  background-color: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: var(--color-footer-logo);
  transition: background-color var(--transition-duration-and-func),
    color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func),
    box-shadow var(--transition-duration-and-func);
}

.btn-item:not(:last-child) {
  margin-right: 24px;
}

.button:hover,
.button:focus {
  background-color: var(--accent);
  color: var(--primary-bg-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  flex-basis: calc((100% - 48px) / 3);
}

.card-item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.card-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}

.card-item-link {
  display: block;
  transition: box-shadow var(--transition-duration-and-func);
}

.team-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  background-color: var(--secondary-bg-color);
  background-blend-mode: soft-light;
  mix-blend-mode: normal;
  color: var(--color-footer-logo);
  transform: translate(0, 100%);
  transition: transform var(--transition-duration-and-func);
}

.card-item-link:hover .overlay,
.card-item-link:focus .overlay {
  transform: translate(0, 0);
}

.card-item-link:hover,
.card-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-container {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-left: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.projects-header {
  margin-bottom: 8px;
  margin-top: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-secondary-text);
}

.projects-text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-text);
}
